:root
{
   --red:#e50914;
   --black:#000000;
   --grey:#303030;
   --white: white; 

}

*
{
    box-sizing: border-box;
    margin: 0;
    margin-block: 0;
    text-decoration: none;
    padding: 0 ;
}
body
{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: var(--white);
    overflow-x: hidden;
}
.backb
{
    background-color: var(--black);

}
.backr
{
    background-color: var(--red);
}
.backw
{
    background-color: var(--white);
}
.cw 
{
    color: var(--white);
}
.cb 
{
    color:blue;
}
.cg 
{
    color:#757575;
}
.cblack
{
    color: #000000;
}
/* text */

.t1
{
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.t2
{
  font-weight: 400;
  font-size: 1.65rem;
}

.t3
{
    font-weight: 400;
    font-size: 18px;
}

.t4
{
   font-size: 13px;
   font-weight: 400;
   
}

.tc
{
    text-align: center;

}

.tl
{
    text-align: left;
}


/* border */

.bb
{
    border-bottom: 8px solid var(--grey);
}

/* padding */

.ps
{
    padding: 50px 5%;
}

.psd
{
 
    padding: 70px 15% 35px 15%;
}

.pf
{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* height width  */

.mw
{
    max-width: 100%;
}

.w100
{
    width: 100%;
}
.h100
{
    height: 100%;
}

/* flexbox */

.flex
{
    display: flex;
}

.jc
{
    justify-content: center;
}
.jcs
{
    justify-content: space-between;
}
.ai 
{
    align-items: center;
}

.fr
{
    flex-direction: row;
}
.frr
{
    flex-direction: row-reverse;
}
.fc
{
    flex-direction: column;
}
.f
{
    flex-grow: 1;
    flex-basis: 0;
}

.wvw
{
    width: 100vw;
}

.hvh 
{
    height: 100vh;
}

.wauto
{
    width:auto;
}

.mauto
{
    margin: auto;
}

.bnone
{
    border:none;
}

.simg
{
    width: 91%;
   
}
.enjoyv
{
    top: 15%; 
    left: 6%;
    width:80%;
}

.watchv
{
   top: 10%;
   left:20%;
   width: 60%;
}

.download
{
  width:55%;
  left:18%;
  top:70%;
  border: 2px solid var(--grey);
  border-radius: 15px;
}
.downloadimg1
{
  
    
    height: 6rem;
    padding: 7px 15px;
}
.downloadimg2
{
  
    
    height: 4rem;
    padding: 7px 15px;
}




/* positon */

.posr
{
    position: relative;
}

.posa
{
    position: absolute;
}
.t0
{
    top:0;
}
.l0
{
    left:0;
}
.r0
{
    right:0;
}
.b0
{
    bottom: 0;
}

.z1
{
    z-index: 1;
}



li
{
    list-style-type: none;
    display: inline-block;
    width: 23%;
    /* border: 1px solid white; */
    margin-top: 6px;
    margin-bottom: 6px;

}
ul
{
    margin-bottom:5%;
}
.fh
{
    margin-bottom: 24px;
}

select
{

    border: 1px solid var(--grey);
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 25px;
}
.htext
{
    width: 50%;
    padding: 10px;

}
.signin
{
    
    height: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 4px;
    
}
.net
{
    height: 6rem;
}
nav
{
    margin-left: 4%;
    margin-right: 4%;
}
.navl
{
    border:1.5px solid #aaa;

    margin-right: 10px;
}


.himg
{
    filter: brightness(35%);
}


.ht3
{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.formh
{
    height: 3.5rem;
}
.email
{
  width: 65%;
 
}
.submit
{
  width: 35%;
}

.faq
{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media screen and (max-width:950px)
{
    .sectioni
    {
        flex-direction: column;
        
    }
    .sectioni2
    {
        width: 70%;
        margin: auto;
    }
    .tchange
    {
        text-align: center;
    }
    .t1
    {
        font-size: 2.5rem;
    }
    .t2
    {
        font-size: 1.2rem;
    }
    .t3
    {
        font-size: 1rem;
    }
    .psd
    {
        padding-left: 10%;
        padding-right: 10%;
    }
    .submit
    {
        margin-top: 10px;
    }
    .email
    {
        width: 100%;
    }
    .htext
    {
        width: 70%;
    }
    .himg
    {
        width: auto;
    }
}
@media screen and (max-width:720px)
{
 li
 {
     width: 31%;
 }
}
@media screen and (max-width:500px)
{
    li 
    {
     width: 48%;
    }
    .t1
    {
        font-size: 2rem;
    }
    .t2
    {
        font-size: 1.2rem;
    }
}

